<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=`, initial-scale=1.0")
        title box6
        link(rel="stylesheet", href="/css/styles.css")
    body
        .box
            .box__col1
            .box__col2
            .box__col3